/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/config/database.yml
/config/secrets.yml
/log/*
!/log/.keep
/tmp
/.idea
/**/*~
/public/**
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
