# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 8762b3c46142199064ec6232628a9d35ffc2d1b92e4fdfc3fc29e51c46454387c63a3d27fa6b222450a365ef315cb3c72b520eab98a8cbcd29ec39051c9640c7

test:
  secret_key_base: abd8856a7a9e77049aaf986bf70c0323c9771eda0437e40697298590611bc26e80550a1e7643532aaf1a37618aa73922dbb80eb603c7b6b2566eeb49c9147b5b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
